
@{
    ViewBag.Title = "SingleCustomer";
}

<h2>Внести покупателя</h2>
<form action="/SingleCustomer/SingleCustomer" method="post">
    <div class="item">
        <label>ФИО клиента:</label>
        <input name="CustomerName" value="Customer" />
        <h1>Покупатель</h1>
    </div>
    <input type="submit" name="action" value="Отправить" />
  
</form>

