@model VirtualSoftware.SoftwareWarehouse
@{
    ViewBag.Title = "SoftwareWarehouse";
}
<h2>Добавить хранилище</h2>
<form action="/SoftwareWarehouse/SoftwareWarehouse" method="post">
    <div class="item">
        <label>Название склада:</label>
        <input name="SoftwareWarehouseName" value="Warehouse" />
    </div>
    <input type="submit" name="action" value="Сохранить" />
</form>


