
@{
    ViewBag.Title = "SoftwarePart";
}

<style>
    select {
        margin-bottom: 50px;
    }

    .item {
        margin-bottom: 30px;
    }
</style>
<h2><b>SoftwarePart</b></h2><br />
<form action="/SoftwarePart/SoftwarePart" id="SoftwarePart" method="post">
    <select name="selectedItem" form="SoftwarePart">
        @using SoftwareDevelopmentModel;
        @using SoftwareDevelopmentService.Interfaces;
        @using SoftwareDevelopmentService.BindingModels;
        @using SoftwareDevelopmentService.ViewModels;
        @{ int i = 0;
        foreach (PartViewModel st in @ViewBag.DataList)
        {
            i++;
            <option value="@i">@st.PartName @i</option>
    }
        }
    </select>
    <div class="item">
        <label>Количество:</label>
        @{
            if (ViewBag.DataCountBox != null)
            {

                <input name="Number" value=@ViewBag.DataCountBox />
            }
            else
            {
                <input name="Number" value="" />
            }
        }
    </div>
    <input type="submit" name="action" value="Сохранить" />
</form>

