@model VirtualSoftware.SoftwareWarehouse
@{
    ViewBag.Title = "SoftwareWarehouses";
}

<style>
    .dataTeble {
        margin-top: 50px;
    }

    input {
        margin-bottom: 50px;
        margin-top: 50px;
    }
</style>
<h2>Хпанилища</h2>
<form method="post">
    <input type="submit" name="action" value="Add" />
    <input type="submit" name="action" value="Change" />
    <input type="submit" name="action" value="Delete" />
    <input type="submit" name="action" value="Update" />
    <br>
    <table class="dataTeble">
        @*@Html.TextBox("DataList")*@
    </table>
    @using VirtualSoftware;
    @using VirtualSoftwarePlace.LogicInterface;
    @using VirtualSoftwarePlace.ConnectingModel;
    @using VirtualSoftwarePlace.UserViewModel;
    <select name="SoftwareWarehouseList" multiple>
        @{ int i = 0;
            foreach (SoftwareWarehouseUserViewModel st in @ViewBag.DataList)
            {
                i++;
                <option value="@i">@st.Id @st.SoftwareWarehouseName</option>
            }
        }
    </select>
</form>


