
@{
    ViewBag.Title = "Developer";
}

<h2>Developer</h2>
<form action="/Developer/Developer" method="post">
    <div class="item">
        <label>Название:</label>
        <input name="DeveloperName" value="Developer" />
    </div>
    <input type="submit" name="action" value="Сохранить" />
</form>
